<div id=title_1>Detailed Page</div>    
    <div id="Detailed_Menu_left">
        <div id="row"></div>
        <div id="key"></div>
        <div id="id"></div>
    </div>
    <div id="Detailed_Menu_right">    
        <div id="name"></div>
        <div id="desc"></div>
        <div id="time"></div>    
    </div>
    <div id="btns">
    <button id="EDIT" (click)="onEdit()">Edit</button>
    <button id="DELE" (click) = "onDelete()" >Delete</button>
    <button id="BACK" (click)="backClicked()">Back</button>
    </div>