/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

div.container{
    margin: 0px 40px;
}

.class1{
    flex: 1 1 auto;
}

#BACK{
    position: relative;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    width: 60px;
    height: 50px;
    color: rebeccapurple;
    background-color: rgba(111, 236, 86, 0.479);
    border-style: inset;
    border-color: rgba(255, 255, 255, 0.808);
    border-width: 3px;
    border-radius: 55%;
}

#EDIT{
    position: relative;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    width: 60px;
    height: 50px;
    color: rebeccapurple;
    background-color: rgba(112, 240, 233, 0.596);
    border-style: inset;
    border-color: rgba(255, 255, 255, 0.808);
    border-width: 3px;
    border-radius: 55%;
}

#DELE{
    position: relative;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    width: 60px;
    height: 50px;
    color: rebeccapurple;
    background-color: rgba(157, 199, 247, 0.596);
    border-style: inset;
    border-color: rgba(255, 255, 255, 0.808);
    border-width: 3px;
    border-radius: 55%;
}

#title_1{
    text-align: center;
    line-height: 52px;
    text-align: center;
    color: #9d6df7;
    background-color: rgba(174, 213, 223, 0.418);
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 1px 2px #27d9df;
    border-style: inset;
    border-color: whitesmoke;
    border-width: 1px;
    height: 60px;}

#btns{
    margin-top: 50px;
    background-color: rgba(174, 213, 223, 0.418);
    border-style: inset;
    border-color: whitesmoke;
    border-width: 1px;
    height: 75px;
    text-align: center; 
}

#row_info{ display: none }
#key_info{ display: none }
#id_info{ display: none }
#name_info{ display: none }
#desc_info{ display: none }
#time_info{ display: none }
#add_info{ display: none }

#Detailed_Menu_left{
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    color: rgb(81, 107, 98);
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#Detailed_Menu_right{
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    color: rgb(81, 107, 98);
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#Additional_info{
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    color: rgb(81, 107, 98);
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#add{
    background-color: #d0eea079;
    margin-top: 5px;
    border-style: ridge;
    border-width: 7px;
    border-color: rgba(234, 235, 250, 0.705);
    border-radius: 10%;
    width: 300px;
    height: 150px;
    margin: 5px;
    word-wrap: break-word; 
}
#row{
    background-color: #a0eecd79;
    margin-top: 5px;
    border-style: ridge;
    border-width: 7px;
    border-color: rgba(234, 235, 250, 0.705);
    border-radius: 10%;
    width: 300px;
    height: 150px;
    margin: 5px;
    word-wrap: break-word;
}
#key{
    background-color: #a0eecd79;
    margin-top: 5px;
    border-style: ridge;
    border-width: 7px;
    border-color: rgba(234, 235, 250, 0.705);
    border-radius: 10%;
    width: 300px;
    height: 150px;
    margin: 5px;
    word-wrap: break-word;
}
#id{
    background-color: #a0eecd79;
    margin-top: 5px;
    justify-content: center;
    border-style: ridge;
    border-width: 7px;
    border-color: rgba(234, 235, 250, 0.705);
    border-radius: 10%;
    width: 300px;
    height: 150px;
    margin: 5px;
}
#desc{
    background-color: #a0a9ee79;
    margin-top: 35px;
    border-style: ridge;
    border-width: 7px;
    border-color: rgba(234, 235, 250, 0.705);
    border-radius: 10%;
    width: 300px;
    height: 150px;
    margin: 5px;
}
#name{
    background-color: #a0a9ee79;
    margin-top: 5px;
    border-style: ridge;
    border-width: 7px;
    border-color: rgba(234, 235, 250, 0.705);
    border-radius: 10%;
    width: 300px;
    overflow: hidden;
    height: 150px;
    margin: 5px;
}
#time{
    background-color: #a0a9ee79;
    margin-top: 5px;
    border-style: ridge;
    border-width: 7px;
    border-color: rgba(234, 235, 250, 0.705);
    border-radius: 10%;
    width: 300px;
    overflow: hidden;
    height: 150px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
    color: rgba(35, 83, 146, 0.89);
    background-color: rgba(138, 236, 228, 0.171);
    border-color: rgba(5, 101, 114, 0.562);
    border-style: dotted;
    border-width: 2px;
}

form.item-form{
   margin: 10px;
}

.space{
    margin: 15px;
}

.space2{
    margin: 30px;
}

#del_sel{
    width: 80px;
    height: 40px;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 5px;
    color: rgba(33, 84, 151, 0.555);
    border-style: inset;
    border-width: 3px;
    background-color: #b8f3df;
    border-color: rgba(70, 197, 165, 0.795);
}

.controls{
    width: 100%;
    padding: 5%;
}

.controls > * {
    width: 100%;
}

.bottom-fit{
    padding-bottom: 10px;
}

.buttons button{
    border-style: inset;
    border-color: whitesmoke;
    font-size: 15px;
    top: -55px;
    left: 10px;
    margin: 3px;
    width: 100px;
}

.mat-table{
    background-color: rgba(186, 248, 230, 0.253);
    border-style: groove;
    border-color: rgba(87, 218, 179, 0.432);
    border-width: 5px;
}

.mat-paginator-container{
    background-color: rgba(132, 214, 214, 0.541);
    border-style: groove;
    border-color: rgba(87, 218, 179, 0.432);
    border-width: 5px;
}

body{
    background-color: rgba(66, 116, 209, 0.219);
}

snack-bar-container.success{
    background-color: rgba(21, 187, 199, 0.37);
    color: rgba(35, 13, 160, 0.671);
    border-width: 10px;
    border-style: inset;
    border-color: rgba(191, 153, 228, 0.37);
}

snack-bar-container.warn{
    background-color: rgba(231, 66, 66, 0.651);
    color: rgba(160, 13, 13, 0.822);
    border-width: 10px;
    border-style: inset;
    border-color: rgba(167, 29, 98, 0.37);
}

snack-bar-container.notification simple-snack-bar{
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
}

.hide{
    display: none
}

mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: oblique;
    background-color: rgba(216, 250, 250, 0.123);
}

mat-header-row mat-header-cell{
    background-color: rgba(216, 250, 250, 0.123);

}

/* filter controls */
.search-div{
    margin: 10px;
      }
      .search-form-field{
          width: 60%;
          margin-left: 10px;
          padding: 5px 10px;
          background-color: #bcd1f196;
          border-radius: 5px;
          }
          .search-form-field div.mat-form-field-underline {
              display: none;
          }
          .search-form-field div.mat-form-field-infix{
              border-top: 0px;
          }
          .search-form-field div.mat-form-field-wrapper{
            padding-bottom: 0px;
          }
         .search-form-field div.mat-form-field-suffix button{
            height: 32px;
            width: 32px;
          }

    .btn-dialog-close{
        width: 45px;
        min-width: 0px;
        height: 40px;
        padding: 0px;
        background-color: rgba(147, 235, 241, 0.603);
    }

    .fill-remaining-space {
        /* This fills the remaining space, by using flexbox. 
           Every toolbar row uses a flexbox row layout. */
        flex: 1 1 auto;
      }

    .mat-dialog-container{
        background-color: rgb(169, 195, 206);
        border-style: ridge;
        border-width: 25px;
        border-color: rgb(221, 244, 252);
    }

    .confirm-dialog-container .mat-dialog-container {
        border-radius: .25em .25em .4em .4em;
        padding: 0px;
        border-style: inset;
        border-width: 5px;
        background-color: rgba(130, 192, 228, 0.849);
        border-color: rgba(28, 28, 180, 0.521);
        }
    .confirm-dialog-container .content-container{
        margin: 5px 5px 15px 5px;
        color: #08275e;
        display: flex;
    }
    .confirm-dialog-container #close-icon{
        margin-left: auto;
        order: 2;
        font-weight: bolder;
    }
    .confirm-dialog-container #close-icon:hover{
    cursor: pointer;
    }

    .confirm-dialog-container #no-button{
        height: 50px;
        width: 50%;
        background-color: #d3b407a8;
        color: #08275e;
        border-radius: 0px;
        border-style: inset;
        border-width: 2px;
        border-color: rgba(87, 168, 214, 0.753);
    }

    .confirm-dialog-container #yes-button{
        height: 50px;
        width: 50%;
        background-color: #406ecac9;
        color: #08275e;
        border-radius: 0px;
        border-style: inset;
        border-width: 2px;
        border-color: rgba(87, 168, 214, 0.753);
    }

    .confirm-dialog-container span.content-span{
        padding:  35px 16px;
        text-align: center;
        font-size: 20px;
    }