<div class="search-div">
    <button mat-raised-button (click) = "Create()">
        <mat-icon>add</mat-icon>Create
    </button>
    <mat-form-field class="search-form-field" floatLabel = "never">
        <input matInput [(ngModel)] = "searchKey" placeholder="Search" autocomplete="off" (keyup)= "SearchEng()">
        <button mat-button matSuffix mat-icon-button aria-label = "Clear" *ngIf="searchKey" (click)="OnXClick()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.time}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef><button id="del_sel" (click)="onDelMultiple()">Delete Selected</button></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div class="space"></div>
                <mat-checkbox class="CheckBox">  </mat-checkbox>
                <div class="space2"></div>
                <button mat-icon-button (click)="onEdit(row)" matTooltip="Edit"><mat-icon>launch</mat-icon></button>
                <button mat-icon-button color="warn" (click) = "onDelete(row.$key)" matTooltip="Delete"><mat-icon>delete</mat-icon></button>
                <a routerLink="/Detailed"><button mat-icon-button matTooltip="Detailed Page" (click) = "onDetail(row)"><mat-icon>tab</mat-icon></button></a>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No To-Do items!
                </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass] ="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass] ="{'hide': !(listData!=null && listData.data.length == 0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator id="pagin" [pageSizeOptions] = "[5,10,25,50,100]" [pageSize] = "5" showFirstLastButtons></mat-paginator>
</div>